.hero {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: var(--background-color);
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .hero-title {
    margin-bottom: 30px;
    color: var(--accent-filters-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
  
  .hero-btn {
    display: inline-block;
    color: var(--accent-filters-color);
    background: var(--accent-color);
    font-family: inherit;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    min-width: 200px;
    height: 50px;
    letter-spacing: 0.06em;
  }