.features-list {
  display: flex;
  flex-wrap: wrap;
}

.features-item {
  width: 270px;
}

.features-item:not(:last-child) {
  margin-right: 30px;
}

.features-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--background-color-secondary);
  border-radius: 4px;
}

.features-icon-bg {
  width: 70px;
  height: 70px;
}

.features-title {
  margin-bottom: 10px;
  color: var(--header-text-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-text {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--link-list-color);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
  