.team {
    background-color: var(--background-color-secondary);
  }
  
  .team-list {
    display: flex;
    flex-wrap: wrap;
  }
  
  .team-item {
    width: ((100% -90px) / 4);
    margin-right: 30px;
  }
  
  .team-item:nth-child(4n) {
    margin-right: 0;
  }
  
  .team-pre-title {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .team-title {
    margin-bottom: 10px;
    color: var(--header-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
  }
  
  .team-text {
    margin-bottom: 16px;
    color: var(--link-list-color);
    font-weight: normal;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
  }
  
  .team-item-content {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    background-color: var(--accent-filters-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  
  /*---------team-socials------------*/
  
  .team-socials-list {
    display: flex;
    justify-content: center;
  }
  
  .team-socials-item + .team-socials-item {
    margin-left: 10px;
  }
  
  .team-socials-link {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
    width: 44px;
    height: 44px;
    background-color: var(--accent-filters-color);
    border-radius: 50%;
    color: var(--socials-icon-color);
  }
  
  .team-socials-link:hover,
  .team-socials-link:focus {
    background-color: var(--accent-color);
    color: var(--accent-filters-color);
  }
  
  .team-socials-icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
  }
  
 