.backdrop {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .modal {
    position: absolute;  
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 528px;
    min-height: 581px;
    padding: 40px;
    background-color: var(--accent-filters-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
  
  .modal-close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background: var(--accent-filters-color);
    border: 1px solid rgba(0, 0, 0, 0.1);  
    border-radius: 50%;     
  }
  
  .modal-close-icon {
    width: 11px;
    height: 11px;
    fill: #000000;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  } 
  
  .modal-close-btn:hover .modal-close-icon  {
    fill: var(--accent-color);
  }    
  
  .modal-close-btn:focus .modal-close-icon {
    fill: var(--accent-color);
  }      
  
  /*-----modal-form-----*/
  
  .modal-title {
    margin-bottom: 30px;
    color: var(--header-text-color);
    font-weight: bold;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
  }
  
  .modal-input-wrap {
    position: relative;
  }
  
  .modal-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .modal-field {
    margin-bottom: 10px;
  }
  
  .modal-input {
    padding-left: 42px;
    width: 100%;
    height: 40px;    
    font-size: 14px;  
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
  .modal-input:focus {
    border-color: var(--accent-color);
  }
  
  .modal-input:focus + .modal-icon {
    fill: var(--accent-color);
  }
  
  .modal-input::placeholder {    
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
  }
  
  .modal-label {
    display: flex;
    margin-bottom: 4px;
    color: var(--link-list-color);
    font-weight: normal;
    font-size: 12px;
    line-height: 1.16;    
    letter-spacing: 0.01em;   
  }
  
  .modal-comment {
    display: flex;
    padding-top: 12px;
    padding-left: 16px; 
    width: 100%;
    height: 120px;
    resize: none;
    outline: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .modal-comment::placeholder {     
    color: rgba(117, 117, 117, 0.5);
    font-weight: normal;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
  }  
  
  .modal-comment:focus {
    border-color: var(--accent-color);
  }
  
  .modal-check {
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
   
  .modal-check-text {
    display: flex;
    align-items: center;
    font-weight: normal;
    color: var(--link-list-color);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
  
  .modal-check-text span {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    width: 16px;
    height: 15px;
    border: 2px solid var(--header-text-color);
    border-radius: 2px;  
  }  
  
  .modal-check-link {
    display: flex;
    align-items: center;    
    padding: 5px;
    color: var(--accent-color);
    text-decoration: underline;
  }
  
  .modal-check-icon {
    fill: transparent;
  }
  
  .modal-check:focus + .modal-check-text>span {
    border-color: var(--accent-color);  
  }
  
  .modal-check:checked + .modal-check-text>span {
    background-color: var(--accent-color);
    border: none;
   }  
  
  .modal-check:checked + .modal-check-text svg {
    fill: var(--accent-filters-color);
  }
  
  .modal-btn {    
    text-align: center;    
    margin-left: auto;
    margin-right: auto;     
    min-width: 200px;
    height: 50px;
    color: var(--accent-filters-color); 
    background: var(--modal-btn-color);      
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;   
    letter-spacing: 0.06em;   
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);           
  }
  
  .modal-btn:hover,
  .modal-btn:focus {    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); 
  }
  
  .modal-btn-submit {
    display: flex;
    align-items: center;
    text-align: center;
  }
  
  .backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
  
  .backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.5);
  }